
@import leval.core.User

@(user: User)(implicit r: Request[_], messages: Messages)
@main("Le Val",
    Seq("starList_layout",
        "starList_dropdown",
        "gameScreen")) {

    <div id="starList" class="blueRoundBorder">
        <h1>Étoiles</h1>
        <ul data-ws-url="@(leval.controllers.routes.HomeController.ws.webSocketURL())">
        </ul>
        <div class="dropdown">
            <a id="challengeLink" >Défier</a>
            <a id="pmLink" >Discuter</a>
        </div>
    </div>

    <div id="left_wrapper">
    <div id="nav_wrapper">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Salon</a></li>
        </ul>
    </div>

    @gameScreen()
    </div>

    @challengePanel(user)

    @challengedNotification()

    @scalajs.html.scripts(
    "client",
    routes.Assets.versioned(_).toString,
    name => getClass.getResource(s"/public/$name") != null)

    <script type="text/javascript">
          leval.Front().starListInit(@user.uuid, "@user.name");
          leval.Front().test();
    </script>
}
