
@import leval.core.PlayerId

@(pid: PlayerId)(implicit r: Request[_], messages: Messages)
@main("Le Val", Seq("starList")) {

<div><h1>Salon</h1></div>
<div id="starList" class="blueRoundBorder">
    <h1>Étoiles</h1>
    <ul data-ws-url="@(leval.controllers.routes.HomeController.ws.webSocketURL())">
    </ul>
    <div class="dropdown">
        <a id="defyLink" >Défier</a>
        <a id="pmLink" >Discuter</a>
    </div>
</div>

@defyMenu(pid)

@scalajs.html.scripts(
"client",
routes.Assets.versioned(_).toString,
name => getClass.getResource(s"/public/$name") != null)

<script type="text/javascript">
      leval.Front().starListInit(@pid.uuid, "@pid.name");
</script>
}
